@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Poppins:wght@400;500&display=swap');

/* Variables */
/* 1rem = 16px */

:root {
    --header-height: 3.5em ; 
    /* Colors */
    --title-color: #F2F2F2;
    --text-color:#B3B3B3;
    --text-color-light:#999999;
    --body-color:#000;
    --container-color:#141414;
    /* Font and Typography */
    --body-font: 'Poppins', sans-serif;
    --second-font: 'Montserrat', sans-serif;
    --normal-font-size: .938rem;
    --small-font-size : .813rem;
    --smaller-font-size : .75rem;
    --biggest-font-size: 2.75rem;
    --h1-font-size:1.5rem;
    --h2-font-size:1.25rem;
    --h3-font-size:1rem;
    /* Font Weight */
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    /* Z index */
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* Base */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body{
    background-color: var(--body-color);
    
}

body , input , button{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-regular);
    color: var(--text-color);
}

h1 ,h2,h3,h4{
    font-size: var(--font-semi-bold);
    color: var(--title-color);
    font-family: var(--second-font);
}

input, button{
    border: none;
    outline: none;
}


a{
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

/* Reusable classes */

.container{
    max-width: 1120px;
    margin: 1.5rem;
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.section{
    padding: 5rem 1rem;
}


.section-title{
    text-align: center;
    font-size: var(--h1-font-size);
    margin-bottom: 1.5rem;
}

.main{
    overflow: hidden;
}

/* Header & Nav */

.header{
    position: fixed;
    width: 100%;
    background-color: transparent;
    z-index: var(--z-fixed);
    top: 0;
    left: 0;
}


.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo{
    font-family: var(--second-font);
    color: var(--title-color);
    font-weight: var(--font-semi-bold);

}

.nav-toggle , .nav-close{
    display: flex;
    font-size: 1.25rem;
    cursor: pointer;
    color: var(--title-color);
}

/* Navigation for mobile devices */

@media screen and (max-width: 1023px) {
   .nav-menu{
    position: fixed;
    width: 100%;
    top: -100%;
    left: 0;
    padding: 4rem ;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(24px);
    transition: top .4s;
   }
}


.nav-list{
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    text-align: center;
}

.nav-link{
    font-family: var(--second-font);
    font-weight: var(--font-medium);
    color: var(--title-color);
}

.nav-close{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
   
}
/* display menu */
.display-nav{
     top: 0;
}

/* Home */

.home { 
    position: relative;
}

.home-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 750px;
    object-fit: cover;
    object-position: center;
}

.home-shadow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    background: linear-gradient(180deg , 
    rgba(0,0,0,0) 58% , 
    #000 78%);
}

.home-container{
    position:relative;
    padding-top: 3rem;
    row-gap: 3rem;
}

.home-content{
    text-align: center;
}
.home-subtitle{
    font-size: var(--h3-font-size);
    margin-bottom: .5rem;

}

.home-title{
    font-size: var(--biggest-font-size);
    margin-bottom: 1rem;
}

.home-description{
    color: var(--title-color);
    margin-bottom: 2rem;
}

.home-cards{
    grid-template-columns: 240px;
    justify-content: center;
}

.home-card{
    position: relative;
    overflow: hidden;
}

.home-card-shadow{
    width: 100% ;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(180deg , 
    rgba(0,0,0,0) 50% , 
    #000 125%);
}

.home-card-title{
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    font-size: var(--h3-font-size);
    z-index: 1;
}

.home-card:hover  .home-card-img {
    transform: scale(1.2);
}
    
.home-card-img{
       transition: transform .3s;
    }
  .button{
    background-color: rgba(255, 255, 255, 0.2);
    padding: 1.25rem 1.5rem;
    color: var(--title-color);
    display: inline-flex;
    align-items: center;
    font-family: var(--second-font);
    font-weight: var(--font-semi-bold);
    column-gap: .5rem;
    backdrop-filter: blur(24px);
  }

.button i{
    font-size: 1.25rem;
    font-weight: initial;
    transition: transform .4s;
}

.button:hover i{
    transform: translateX(.25rem);
}


.blur-header::after{
    content: "";
    width: 1000%;
    height: 100%;
    position: absolute;
    top: 0;
    backdrop-filter: blur(24px);
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.about-container{
    row-gap: 3rem;
}

.about-data{
    text-align: center;
}

.about-description{
    margin-bottom: 2rem;
}

.about-image{
    position: relative;
    overflow: hidden;
    justify-self: center;
}


.about-img{
    width: 300px;
    transition: transform .4s;
}

.about-shadow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg , 
    rgba(0,0,0,0) 50% , 
    #000 125%);
}

.about-image:hover .about-img {
    transform: scale(1.2);
}

.popular-container{
    padding-top: 1.5rem;
    grid-template-columns: 240px;
    row-gap: 2.5rem;
    justify-content: center;
}

.popular-image{
    position: relative;
    overflow: hidden;
    transition: transform .4s;
}

.popular-shadow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg , 
    rgba(0,0,0,0) 50% , 
    #000 125%);
}