@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Poppins:wght@400;500&display=swap');

/* Variables */
/* 1rem = 16px */

:root {
    --header-height: 3.5em ; 
    /* Colors */
    --title-color: #F2F2F2;
    --text-color:#B3B3B3;
    --text-color-light:#999999;
    --body-color:#000;
    --container-color:#141414;
    /* Font and Typography */
    --body-font: 'Poppins', sans-serif;
    --second-font: 'Montserrat', sans-serif;
    --normal-font-size: .938rem;
    --small-font-size : .813rem;
    --smaller-font-size : .75rem;
    --biggest-font-size: 2.75rem;
    --h1-font-size:1.5rem;
    --h2-font-size:1.25rem;
    --h3-font-size:1rem;
    /* Font Weight */
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    /* Z index */
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* Base */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body{
    background-color: var(--body-color);
    
}

body , input , button{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-regular);
    color: var(--text-color);
}

h1 ,h2,h3,h4{
    font-size: var(--font-semi-bold);
    color: var(--title-color);
    font-family: var(--second-font);
}

input, button{
    border: none;
    outline: none;
}


a{
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

/* Reusable classes */

.container{
    max-width: 1120px;
    margin: 1.5rem;
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.section{
    padding: 4rem 1rem;
}


.section-title{
    text-align: center;
    font-size: var(--h1-font-size);
    margin-bottom: 1.5rem;
}

.main{
    overflow: hidden;
}

/* Header & Nav */

.header{
    position: fixed;
    width: 100%;
    background-color: transparent;
    z-index: var(--z-fixed);
    top: 0;
    left: 0;
}


.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo{
    font-family: var(--second-font);
    color: var(--title-color);
    font-weight: var(--font-semi-bold);

}

.nav-toggle , .nav-close{
    display: flex;
    font-size: 1.25rem;
    cursor: pointer;
    color: var(--title-color);
}

/* Navigation for mobile devices */

@media screen and (max-width: 1023px) {
   .nav-menu{
    position: fixed;
    width: 100%;
    top: -100%;
    left: 0;
    padding: 4rem ;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(24px);
    transition: top .4s;
   }
}


.nav-list{
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    text-align: center;
}

.nav-link{
    font-family: var(--second-font);
    font-weight: var(--font-medium);
    color: var(--title-color);
}

.nav-close{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
   
}
/* display menu */
.display-nav{
     top: 0;
}

/* Home */

.home { 
    position: relative;
}

.home-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 750px;
    object-fit: cover;
    object-position: center;
}

.home-shadow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    background: linear-gradient(180deg , 
    rgba(0,0,0,0) 58% , 
    #000 78%);
}

.home-container{
    position:relative;
    padding-top: 3rem;
    row-gap: 3rem;
}

.home-content{
    text-align: center;
}
.home-subtitle{
    font-size: var(--h3-font-size);
    margin-bottom: .5rem;

}

.home-title{
    font-size: var(--biggest-font-size);
    margin-bottom: 1rem;
}

.home-description{
    color: var(--title-color);
    margin-bottom: 2rem;
}

.home-cards{
    grid-template-columns: 240px;
    justify-content: center;
}

.home-card{
    position: relative;
    overflow: hidden;
}

.home-card-shadow{
    width: 100% ;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(180deg , 
    rgba(0,0,0,0) 50% , 
    #000 125%);
}

.home-card-title{
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    font-size: var(--h3-font-size);
    z-index: 1;
}

.home-card:hover  .home-card-img {
    transform: scale(1.2);
}
    
.home-card-img{
       transition: transform .3s;
    }
  .button{
    background-color: rgba(255, 255, 255, 0.2);
    padding: 1.25rem 1.5rem;
    color: var(--title-color);
    display: inline-flex;
    align-items: center;
    font-family: var(--second-font);
    font-weight: var(--font-semi-bold);
    column-gap: .5rem;
    backdrop-filter: blur(24px);
  }

.button i{
    font-size: 1.25rem;
    font-weight: initial;
    transition: transform .4s;
}

.button:hover i{
    transform: translateX(.25rem);
}


.blur-header::after{
    content: "";
    width: 1000%;
    height: 100%;
    position: absolute;
    top: 0;
    backdrop-filter: blur(24px);
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.about-container{
    row-gap: 3rem;
}

.about-data{
    text-align: center;
}

.about-description{
    margin-bottom: 2rem;
}

.about-image{

    height: 297px;
    position: relative;
    overflow: hidden;
    justify-self: center;
}


.about-img{
   
    height: 100%;
    transition: transform .4s;
}

.about-shadow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg , 
    rgba(0,0,0,0) 50% , 
    #000 125%);
}

.about-image:hover .about-img {
    transform: scale(1.2);
}

.popular-container{
    padding-top: 1.5rem;
    grid-template-columns: 240px;
    row-gap: 2rem;
    justify-content: center;
}

.popular-image{
    position: relative;
    overflow: hidden;
    margin-bottom: 1rem;
    
}

.popular-img{
    transition: transform .4s;
}

.popular-shadow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg , 
    rgba(0,0,0,0) 50% , 
    #000 125%);
}

.popular-title{
    margin-top: .1rem;
    margin-bottom: .1rem;
    font-size: var(--h3-font-size);
    

}

.popular-location{
    display: inline-flex;
    font-family: var(--second-font);
    font-weight: 500;
    font-size: var(--small-font-size);
    align-items: center;
    column-gap: .2rem;
}

.popular-location i {
    font-size: 1rem;
}

.popular-image:hover .popular-img{
    transform: scale(1.2);
}

.explore{
    position: relative;
}

.explore-image{
    position: relative;
    overflow: hidden;
   

}

.explore-img{
    width: 100%;
    height: 330px;
    object-fit: cover;
    object-position: center;
}

.explore-shadow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg , 
    #000 5% ,
    rgba(0,0,0,0) 40% , 
    rgba(0,0,0,0) 0% , 
    #000 92%);
}

.explore-content{
    position: relative;
    /* padding-top: 16rem; */
    text-align: center;
    row-gap: 1.5rem;
}


.explore-user{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
  
}



.explore-face{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.explore-name{
    font-size: var(--small-font-size);
    color: var(--title-color);
}

.join-container{
  padding-bottom: 2.5rem;
    row-gap: 3rem;

}

.join-data{
    text-align: center;

}

.join-description{
    margin-bottom: 2rem;
}

.join-form{
    display:grid;
    row-gap:1rem
}

.join-input{
    padding: 1.25rem 1rem;
    background-color: var(--container-color);
}

.join-button {
    cursor: pointer;
}

.join-image{
    position: relative;
    overflow: hidden;
    justify-self: center;
}

.join-img{
    width: 300px;
    transition: transform .4s;

}


.join-shadow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg , 
    rgba(0,0,0,0) 50% , 
    #000 125%);
}


.join-image:hover .join-img{
    transform: scale(1.2);
}

.footer{
    padding-block: 2.5rem;
    background-color: var(--container-color);
}

.footer-content{
    row-gap: 3.5rem;
}

.footer-logo{
    display: inline-block;
    color: var(--title-color);
    font-family: var(--second-font);
    font-weight: var(--font-semi-bold);
    font-size: var(--h2-font-size);
    margin-bottom: 1rem;
}

.footer-data{
    grid-template-columns: repeat(2 , max-content);
    row-gap: 2.5rem;
    column-gap: 3.5rem;
}

.footer-title{
    margin-bottom: 1rem;
    font-size: var(--h3-font-size);
}

.footer-links{
    display: grid;
    row-gap: .75rem;
}

.footer-link{
    color: var(--text-color);
    transition: color .4s;
}

.footer-link:hover{
    color: var(--title-color);
}

.footer-group , .footer-copy{
    display: flex;
}

.footer-group{
    margin-top: 5.1rem;
    flex-direction: column;
    row-gap: 2rem;
    align-items: center;
}

.footer-social a {
    display: inline-block;
    margin-right: 1.5em;
}

.footer-social a:last-child{
    margin-right: 0;
}

.footer-social-link{
    color: var(--title-color);
    transition: color .4s , transform .4s;
    font-size: 1.25rem;
}

.footer-social-link:hover{
    color: var(--title-color);
    transform: translateY(-.25rem);
}

.footer-copy{
    color: var(--text-color-light);
    text-align: center;
    font-size: var(--smaller-font-size);
}

::-webkit-scrollbar{
    background-color: #1A1A1A;
    width: .6rem;
    border-radius: .6rem;
}

::-webkit-scrollbar-thumb{
    background-color: #333333;
    border-radius: .5rem;
}



::-webkit-scrollbar-thumb:hover{
    background-color: #4D4D4D;
    border-radius: .5rem;
}

.scrollup{
    position: fixed;
    right: 1rem;
    bottom: -50%;
    background-color: rgba(255, 255, 255, 0.1);
    z-index: var(--z-tooltip);
    padding: 7px ;
    display: inline-block;
    font-size: 1.2rem;
    color: var(--title-color);
    backdrop-filter: blur(24);
    transition: botton .4s , transform .4s;

}

.scrollup:hover{
    transform: translateY(-.25rem);
}

.display-scrollup{
    bottom: 3rem;
}


/* small devices */

@media screen and (max-width: 340px){
    .container {
        margin-inline: 1rem;
    }

    .footer-data{
        grid-template-columns: max-content;
    }
}

/*  medium devices */
@media screen and (min-width: 576px){
   .home-container , .about-container , .explore-content , .join-container{
    grid-template-columns: 380px;
    justify-content: center;
   }
   .footer-data{
    grid-template-columns: repeat(3 , max-content);
   }
}

@media screen and (min-width: 768px){
    .home-cards{
        grid-template-columns: repeat(2 , 240px);
    }
    .about-container , .join-container{
        grid-template-columns: repeat(2 , 350px);
        align-items: center;
    }
    .about-data , .about-data .section-title , 
    .join-data  , .join-data .section-title {
        text-align: initial;
    }

    .popular-container , .join-container{
        grid-template-columns: repeat(2 , 240px);
    }

    .explore-img{
        width: 100vw;
    }

    .join-image{
        order: -1;
    }

    .footer-content{
        grid-template-columns: repeat(2 , max-content );
        justify-content: space-between;
    }

    .footer-group{
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-copy{
        order: -1;
    }

}


/* large devices  */

@media screen and (min-width:1023px){
    .nav-close , .nav-toggle{
        display: none;
    }

    .nav-list{
       flex-direction: row;
       column-gap: 4rem;
    }

    .popular-container{
        grid-template-columns: repeat(3 , 240px);
    }

    .footer-data{
        grid-template-columns: repeat(4 ,max-content);
        column-gap: 4.5rem;
    }
    
}

@media screen and (min-width : 1152px) {
   .container {
       margin-inline: auto;
    }

    .section{
        padding-block: 7rem 2rem;
    }

    .nav{
        height: calc(--header-height + 1.5rem);
    }
    

    .blur-header::after{
        backdrop-filter: blur(25px);
    }

    .home-container{
        grid-template-columns: initial;
        justify-content: initial;
        row-gap: 4rem;
        padding-top: 6.5rem;
    }

    .home-shadow{
        height: 980px;
    }
    .home-content{
        text-align: initial;
        width: 480px;
    }

    .home-subtitle{
        font-size: var(--h2-font-size);
    }
    .home-description{
        margin-bottom: 2.5rem;
    }

    .home-cards{
        grid-template-columns: repeat(4 , 260px);
    }
    .home-card-title{
        left: 1.5rem;
        bottom: 1.5rem;
    }

    .button{
        column-gap: 1.5rem;

    }
     .about-container{
        grid-template-columns: 400px 460px;
        column-gap: 8.5rem;
        padding-block: 1rem;
     }

     .about-description{
        margin-bottom: 3rem;

     }

     .about-img{
        width: 460px;
     }

     .popular-container{
        grid-template-columns: repeat(3, 300px);
        column-gap: 3rem;
        padding-top: 4rem;
     }

     .popular-title{
        font-size: var(--h2-font-size);
     }
     .popular-location{
        font-size: var(--normal-font-size)
     }

     .explore-img{
        height: 600px;
     }

     .explore-content{
        grid-template-columns: 670px 1fr;
        
     }
}


